body {
    font-family: Arial, Helvetica, sans-serif;
}

.titulos {
    color: #3D3D3D;
    background-color: #E1EDF2;
}

.subtitulos {
    border-bottom: 2px solid #000;
}

figure {
    text-align: center;
    background-color: whitesmoke;
    color: lightgrey;
    border: 1px solid lightgray;
}

#figure-matriz {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    max-width: 800px;
    padding: 10px;
}

#figure-matriz img {
    max-width: 100%;
    height: auto;
}

#figure-family {
    float: right; 
    margin: 0px 0px 40px 40px; 
    width: 275px; 
    max-width: 100%; 
    padding: 10px; 
}

#figure-family img {
    max-width: 100%; 
    height: auto; 
}

figcaption {
    padding-top: 10px;
    color: black;
}


.texto {
    text-align: justify; 
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}





